# Overall Objectives with Dataset:

- Explore the dataset and visualise interesting outcomes
- Create a linear regression model to predict the following: Price of used cars
- Generate business insights based on findings

Read the file ReadME for a more indepth explination and insight into the dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Removes the limit for the number of displayed columns
pd.set_option("display.max_columns", None)
# Sets the limit for the number of displayed rows
pd.set_option("display.max_rows", 200)

# Mathmatical cCmputing
import math
# Used to build Linear Model (Statistical Analysis and Modeling)
import statsmodels.stats.api as sms
# Suppress warnings
import warnings

warnings.filterwarnings("ignore")

In [5]:
data = pd.read_csv("used_cars_data.csv")

In [6]:
db = data.copy()

np.random.seed(1)

db.sample(n=10)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
2397,2397,Ford EcoSport 1.5 Petrol Trend,Kolkata,2016,21460,Petrol,Manual,First,17.0 kmpl,1497 CC,121.36 bhp,5.0,9.47 Lakh,6.00
3777,3777,Maruti Wagon R VXI 1.2,Kochi,2015,49818,Petrol,Manual,First,21.5 kmpl,1197 CC,81.80 bhp,5.0,5.44 Lakh,4.11
4425,4425,Ford Endeavour 4x2 XLT,Hyderabad,2007,130000,Diesel,Manual,First,13.1 kmpl,2499 CC,141 bhp,7.0,NaN,6.00
3661,3661,Mercedes-Benz E-Class E250 CDI Avantgrade,Coimbatore,2016,39753,Diesel,Automatic,First,13.0 kmpl,2143 CC,201.1 bhp,5.0,NaN,35.28
4514,4514,Hyundai Xcent 1.2 Kappa AT SX Option,Kochi,2016,45560,Petrol,Automatic,First,16.9 kmpl,1197 CC,82 bhp,5.0,NaN,6.34
599,599,Toyota Innova Crysta 2.8 ZX AT,Coimbatore,2019,40674,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,7.0,28.05 Lakh,24.82
186,186,Mercedes-Benz E-Class E250 CDI Avantgrade,Bangalore,2014,37382,Diesel,Automatic,First,13.0 kmpl,2143 CC,201.1 bhp,5.0,NaN,32.00
305,305,Audi A6 2011-2015 2.0 TDI Premium Plus,Kochi,2014,61726,Diesel,Automatic,First,17.68 kmpl,1968 CC,174.33 bhp,5.0,NaN,20.77
4582,4582,Hyundai i20 1.2 Magna,Kolkata,2011,36000,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,NaN,2.50
5434,5434,Honda WR-V Edge Edition i-VTEC S,Kochi,2019,13913,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,9.36 Lakh,8.20

## Exploratory data analysis

Initial exploration into the dataset: Dataset gives insight into the different components of the cars that affect their price level. It also gives a geographical component that is interesting to see how it affects the pricing range of the cars. Some key points to keep in mind for modifying the data.
- Some points for the new price are missing, there will need to be processing to evaluate the data correctly
- S.No is a repeat of the identification number, it can be dropped
- The columns Mileage, Engine, and Power need to be modified to extract numerical data that can be used in analysis

In [7]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   object
 9   Engine             7207 non-null   object
 10  Power              7207 non-null   object
 11  Seats              7200 non-null   float64
 12  New_Price          1006 non-null   object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 793.4+ KB

In [9]:
db.duplicated().sum()

0

The number of integer based columns is 3, there are 2 float based columns, and there are 9 object based columns. 4 of these object based columns need to be modified to be able to get numerical field so that a more profound analysis can be made. There are no duplicated values in the dataset.

## Process Data

The columns Mileage, Power, Engine and New_Price need to be processed to be able to extract numerical data from them to accurately analyse the data.

- Mileage:

There are two units of measure being used for the Mileage of the car kmpl and km/kg, it will be interesting to find out the different reasons for this and later on see how it can be used to produce more accurate models.

In [10]:
db_mileage = db["Mileage"].str.split(" ",expand = True)
db_mileage.head()

       0      1
0   26.6  km/kg
1  19.67   kmpl
2   18.2   kmpl
3  20.77   kmpl
4   15.2   kmpl

In [11]:
db_mileage[1].value_counts()

kmpl     7177
km/kg      74
Name: 1, dtype: int64

In [12]:
db["mileage_per_fuel"]=db_mileage[0].astype(float)
db["mileage_unit"]=db_mileage[1]

db.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,mileage_per_fuel,mileage_unit
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,26.60,km/kg
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,19.67,kmpl
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,18.20,kmpl
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,20.77,kmpl
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,15.20,kmpl

In [13]:
db.groupby(by=["Fuel_Type", "mileage_unit"]).size()

Fuel_Type  mileage_unit
CNG        km/kg             62
Diesel     kmpl            3852
LPG        km/kg             12
Petrol     kmpl            3325
dtype: int64

The different units per mileage used correspond to a specific fuel types used, it's not just either-or. km/kg is used by CNG and LPG fuel types and kmpl is used by Diesel and Petrol. This can be used to make a more accurate analysis of the data.


- Power:

It is important to extract the numerical component of the column

In [15]:
db_power = db["Power"].str.split(" ", expand=True)
db_power[1].value_counts()

bhp    7207
Name: 1, dtype: int64

In [17]:
# We got an error when creating a new column for power values as float, error type can not convert null into float type.

db_power[db_power[0] == "null"]

         0    1
76    null  bhp
79    null  bhp
89    null  bhp
120   null  bhp
143   null  bhp
227   null  bhp
245   null  bhp
262   null  bhp
307   null  bhp
308   null  bhp
386   null  bhp
424   null  bhp
428   null  bhp
443   null  bhp
472   null  bhp
575   null  bhp
631   null  bhp
647   null  bhp
648   null  bhp
739   null  bhp
748   null  bhp
829   null  bhp
915   null  bhp
926   null  bhp
934   null  bhp
1068  null  bhp
1143  null  bhp
1153  null  bhp
1271  null  bhp
1319  null  bhp
1345  null  bhp
1388  null  bhp
1419  null  bhp
1555  null  bhp
1578  null  bhp
1649  null  bhp
1672  null  bhp
1857  null  bhp
1999  null  bhp
2053  null  bhp
2130  null  bhp
2164  null  bhp
2262  null  bhp
2267  null  bhp
2305  null  bhp
2343  null  bhp
2369  null  bhp
2393  null  bhp
2441  null  bhp
2450  null  bhp
2497  null  bhp
2501  null  bhp
2527  null  bhp
2579  null  bhp
2597  null  bhp
2635  null  bhp
2640  null  bhp
2891  null  bhp
3033  null  bhp
3061  null  bhp
3104  null  bhp
3189  null  bhp
3247  null  bhp
3290  null  bhp
3439  null  bhp
3516  null  bhp
3533  null  bhp
3589  null  bhp
3628  null  bhp
3638  null  bhp
3645  null  bhp
3669  null  bhp
3733  null  bhp
3800  null  bhp
3882  null  bhp
3898  null  bhp
3930  null  bhp
3999  null  bhp
4077  null  bhp
4080  null  bhp
4351  null  bhp
4354  null  bhp
4629  null  bhp
4709  null  bhp
4714  null  bhp
4744  null  bhp
4830  null  bhp
4886  null  bhp
4900  null  bhp
4954  null  bhp
5065  null  bhp
5119  null  bhp
5228  null  bhp
5426  null  bhp
5438  null  bhp
5458  null  bhp
5529  null  bhp
5533  null  bhp
5647  null  bhp
5755  null  bhp
5759  null  bhp
5861  null  bhp
5873  null  bhp
5893  null  bhp
5925  null  bhp
5943  null  bhp
5985  null  bhp
6022  null  bhp
6093  null  bhp
6141  null  bhp
6162  null  bhp
6210  null  bhp
6216  null  bhp
6278  null  bhp
6386  null  bhp
6428  null  bhp
6439  null  bhp
6445  null  bhp
6454  null  bhp
6576  null  bhp
6591  null  bhp
6625  null  bhp
6697  null  bhp
6723  null  bhp
6891  null  bhp
6896  null  bhp
6947  null  bhp
7092  null  bhp
7145  null  bhp

In [22]:
# Creat a function used to convert the power column into a float type

def numerical_power(power_val):
    """
    This function takes in a string representing he maximum power of the engine in bhp
    and converts it to a number. For example, '126.2 bhp' becomes 126.2
    If the input is already numeric, which probably means it's NaN,
    this function just returns np.nan
    """
    if isinstance(power_val, str):
        if power_val.startswith("null"):
            return np.nan
        elif power_val.endswith("bhp"):
            return float(power_val.replace(" bhp", ""))
    else:
        return np.nan

In [23]:
db["Power_num"] = db["Power"].apply(numerical_power)

db.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,mileage_per_fuel,mileage_unit,Power_num
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,26.60,km/kg,58.16
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,19.67,kmpl,126.20
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,18.20,kmpl,88.70
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,20.77,kmpl,88.76
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,15.20,kmpl,140.80